<!DOCTYPE html>

<html>

<head>

</head>

<body>

<h1 id="title">Rock, Paper, Scisssors</h1>


	<% if @name %>

			<h3><%=@name %> vs. Computer</h3>

			<h3>Choose one of the following</h3>
			<h2>Rock</h2>
			<h2>Paper</h2>
			<h2>Scissor</h2>

	<% end %>

<form action="/new_player" method="post">

		Name 	<input type="text" name="name">
				<input type="submit" value="Sign In">

</form>

<a href="">Click here for 2 player</a>

</body>

</html>