<!DOCTYPE html>

<html>

<head>

</head>

<body>

<h1 id="title">Rock, Paper, Scisssors</h1>


	<% if @name %>

			<h3><%=@name %> vs. Computer</h3>

			<h3>Choose one of the following</h3>
			<form action="">
<input type="radio" name="play" value="rock">Rock<br>
<input type="radio" name="play" value="paper">Paper
<input type="radio" name="play" value="scissor">Scissor
<input type="submit" value="Play!"
</form>

	<% end %>

<form action="/new_player" method="post">

		Name 	<input type="text" name="name">
				<input type="submit" value="Sign In">

</form>

<a href="">Click here for 2 player</a>

</body>

</html>